body {
    font-family: 'Arial';
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
}

.titulo {
    padding: 5vw;
    margin: auto;
    background-image: url('../resources/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5vw;
    box-shadow: 1vw 1vw 2vw rgba(0, 0, 0, 0.5);
    text-align: center; /* Centra el texto del título */
    position: relative;
}

.titulo h1 {
    color: white; /* Color del texto del título */
    margin: 0; /* Elimina el margen del título */
    font-size: 4vw; /* Tamaño del título */
    transition: font-size 0.5s; /* Transición suave del tamaño del título */
}

.titulo:hover h1 {
    font-size: 4.5vw; /* Tamaño más grande del título al pasar el cursor */
}

.p1 {
    display: flex;
    flex-direction: row; /* Cambia el flujo del contenido a fila */
    align-items: center; /* Centra verticalmente el contenido */
    border-radius: 5vw;
    box-shadow: 1vw 1vw 2vw rgba(0, 0, 0, 0.5);
    padding: 5vw; /* Aumenta el espacio interno */
    margin-bottom: 5vw;
}

.p1 h3 {
    color: white; /* Cambia el color del texto del título */
    margin-right: 2vw; /* Añade espacio entre el título y el texto */
    font-size: 3vw; /* Tamaño del título adaptado al tamaño del dispositivo */
    background-image: url('../resources/fondo.jpg'); /* Fondo de cada título */
    background-size: cover; /* Ajusta el tamaño del fondo */
    background-repeat: no-repeat; /* No se repite el fondo */
    background-position: center; /* Centra el fondo */
    border-radius: 5vw; /* Borde redondeado */
    padding: 1vw; /* Espaciado interno */
    font-family: 'Arial'; /* Cambia el tipo de letra */
    writing-mode: vertical-rl; /* Cambia la orientación del texto a vertical */
    transform: rotate(180deg); /* Rotación adicional para que el texto esté en posición vertical */
    transition: font-size 0.5s; /* Transición suave del tamaño del título */
}

.p1:hover h3 {
    font-size: 3.5vw; /* Tamaño más grande del título al pasar el cursor */
}

.p1 p {
    font-size: 2.5vw; /* Tamaño del texto adaptado al tamaño del dispositivo */
}

img {
    border-radius: 2vw; /* Hace que las imágenes se vean ligeramente redondeadas */
    width: 20vw; /* Ajusta el ancho de las imágenes */
    height: auto; /* Ajusta la altura de las imágenes de forma proporcional */
}

button {
    display: none; /* Oculta el botón "Ir al Apartado" */
}

footer {
    background-color: #929493;
    margin: -2vw;
    padding: 5vw;
    border-radius: 5vw;
    box-shadow: 1vw 1vw 2vw rgba(0, 0, 0, 0.5);
    margin-bottom: 0; /* Elimina el espacio en blanco en la parte inferior del pie de página */
}

@media (max-width: 600px) {
    .titulo, footer {
        padding: 10vw;
        margin: 0;
        border-radius: 5vw;
    }
}
/* Estilos para el botón "Sign in" */
#mostrarModal {
    background-color: #007bff; /* Fondo azul */
    color: white; /* Texto blanco */
    border: none; /* Sin bordes */
    border-radius: 20px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer;
     /* Convertir a bloque para centrar */
    margin: 20px auto 10px; /* Centrar horizontalmente y agregar margen superior e inferior */
}

/* Estilos para la caja modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    border-radius: 20px; /* Bordes redondeados */
}

/* Estilos para el contenido de la caja modal */
.modal-contenido {
    background-color: #fff; /* Fondo blanco */
    margin: 10vh auto; /* Centrar vertical y horizontalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del contenido */
    max-width: 600px; /* Ancho máximo */
    border-radius: 20px; /* Bordes redondeados */
    text-align: center;
    position: relative; /* Posición relativa para el botón de cerrar */
}

/* Estilos para el botón de cerrar */
.cerrar {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute; /* Posición absoluta */
    top: 10px; /* 10px de margen superior */
    right: 10px; /* 10px de margen derecho */
    cursor: pointer;
}

/* Estilos para los botones adicionales dentro de la caja modal */
.modal-contenido button {
    margin-top: 10px; /* Margen superior */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin bordes */
    border-radius: 20px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer;
}




  nav {
    position: relative;
    bottom: -30px; /* Ajusta la separación con los elementos del título */
    left: 0;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
}

.nav {
    display: inline-block;
    color: rgb(203, 247, 255);
    text-decoration: none;
    margin: 5px;
    transition: background-color 0.3s;
}

.nav:hover {
    background-color: rgba(200, 200, 200, 0.8);
}

#gmail {
    background-color: #f1aba5; /* Color de fondo para Gmail */
    border-color: #db4437; /* Color del borde para Gmail */
    color: white; /* Color del texto */
}

#facebook {
    background-color: #1877f2; /* Color de fondo para Facebook */
    border-color: #1877f2; /* Color del borde para Facebook */
    color: white; /* Color del texto */
}

#github {
    background-color: #333333; /* Color de fondo para Github */
    border-color: #333333; /* Color del borde para Github */
    color: white; /* Color del texto */
}


.social-button {
    display: inline-flex; /* Para que el botón se ajuste al tamaño del contenido */
    align-items: center; /* Para alinear verticalmente la imagen y el texto */
    margin-bottom: 10px; /* Espacio entre los botones */
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold; /* Resalta el texto */
}

.social-button img {
    width: auto; /* Ajusta el tamaño de la imagen automáticamente */
    height: 20px; /* Ajusta la altura de la imagen según el texto */
    margin-right: 5px; /* Espacio entre la imagen y el texto */
}


.social-button:hover {
    transform: scale(1.1); /* Agrandar el botón al pasar el cursor */
    transition: transform 0.3s; /* Añadir una transición suave */
}
#guardar {
    background-color:#1877f2; /* Color de fondo */
    border-color:#1877f2; /* Color del borde */
    color: white; /* Color del texto */
}
/* Estilos para el botón "Sign in" */
#mostrarModal2 {
    background-color: #007bff; /* Fondo azul */
    color: white; /* Texto blanco */
    border: none; /* Sin bordes */
    border-radius: 20px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer;
     /* Convertir a bloque para centrar */
    margin: 20px auto 10px; /* Centrar horizontalmente y agregar margen superior e inferior */
}

/* Estilos para el botón de cerrar */
.cerrar2 {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute; /* Posición absoluta */
    top: 10px; /* 10px de margen superior */
    right: 10px; /* 10px de margen derecho */
    cursor: pointer;
}

alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    display: none;
}

  
  
  